<div class="w-full h-full flex flex-col p-4 rounded-sm shadow-md">
  <h2 class="text-lg font-semibold mb-3 text-gray-700">chart_widget</h2>
  <div class="flex-1 bg-maage-primary-100 border border-maage-secondary-300 flex items-center justify-center text-maage-secondary-700">
    widget
  </div>
</div>