<div class="global-search inherited-styles-for-exported-element">
  <div style="padding: 6px 0px 2px 2px; flex-grow: 1">
    <div class="GlobalSearch showOnLoad" id="dijit__FocusMixin_0" lang="en" widgetid="dijit__FocusMixin_0" style="width: 100%; font-size: 1em;">
      <table style="width:100%;" class="GStable">
        <tbody class="GSbody" data-protonpass-form="">
          <tr>
            <td class="gs-data-types-dropdown" style="width:120px">
              <table class="dijit dijitReset dijitInline dijitLeft dijitSelect dijitValidationTextBox dijitDownArrowButton dijitSelectFixedWidth dijitValidationTextBoxFixedWidth" data-dojo-attach-point="_buttonNode,tableNode,focusNode,_popupStateNode" cellspacing="0" cellpadding="0" role="listbox" aria-haspopup="true" tabindex="0" id="dijit_form_Select_0" lang="en" widgetid="dijit_form_Select_0" aria-expanded="false" aria-invalid="false" style="user-select: none; display: inline-block; width: 100%;">
                <tbody role="presentation">
                  <tr role="presentation">
                    <td class="dijitReset dijitStretch dijitButtonContents" role="presentation">
                      <div class="dijitReset dijitInputField dijitButtonText" data-dojo-attach-point="containerNode,textDirNode" role="presentation"><span role="option" aria-selected="true" class="dijitReset dijitInline dijitSelectLabel dijitValidationTextBoxLabel ">All Data Types</span></div>
                      <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><input type="hidden" data-dojo-attach-point="valueNode" value="everything" aria-hidden="true">
                    </td>
                    <td class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="titleNode" role="presentation"><input class="dijitReset dijitInputField dijitArrowButtonInner" value="▼ " type="text" tabindex="-1" readonly="readonly" role="presentation"></td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td class="gs-input">
              <label id="globalSearch" class="sr-only">Global Search</label>
              <div class="dijit dijitReset dijitInline dijitLeft form-control dijitTextBox" id="widget_dijit_form_TextBox_0" role="presentation" lang="en" widgetid="dijit_form_TextBox_0" style="width: 100%;">
                <div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" data-dojo-attach-point="textbox,focusNode" autocomplete="off" type="text" tabindex="0" id="dijit_form_TextBox_0" aria-labelledby="globalSearch" value=""><span class="dijitPlaceHolder dijitInputField">Find a gene, genome, microarray, etc</span></div>
              </div>
            </td>

            <td class="gs-advanced-search" style="width:1em;padding:2px;font-size:1em;">
              <i class="fa fa-1x icon-search" data-dojo-attach-event="click:onClickAdvanced" title="Advanced Search">
              </i>
            </td>

            <td class="gs-help" style="width:1em;padding:2px;font-size:1em;">
              <i class="fa fa-1x icon-question-circle-o NonmodalDialogButton" rel="help:/misc/GlobalSearchOptions" title="Select search options from the dropdown list. Click to view the help information">
              </i>
            </td>

            <td class="gs-options-dropdown" style="width:50px">
              <table class="dijit dijitReset dijitInline dijitLeft dijitDownArrowButton dijitSelectFixedWidth dijitValidationTextBoxFixedWidth dijitSelect dijitValidationTextBox" data-dojo-attach-point="_buttonNode,tableNode,focusNode,_popupStateNode" cellspacing="0" cellpadding="0" role="listbox" aria-haspopup="true" tabindex="0" id="dijit_form_Select_1" lang="en" widgetid="dijit_form_Select_1" aria-expanded="false" aria-invalid="false" style="user-select: none; display: inline-block; width: 100%;">
                <tbody role="presentation">
                  <tr role="presentation">
                    <td class="dijitReset dijitStretch dijitButtonContents" role="presentation">
                      <div class="dijitReset dijitInputField dijitButtonText" data-dojo-attach-point="containerNode,textDirNode" role="presentation"><span role="option" aria-selected="true" class="dijitReset dijitInline dijitSelectLabel dijitValidationTextBoxLabel">All terms</span></div>
                      <div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><input type="hidden" data-dojo-attach-point="valueNode" value="option_and" aria-hidden="true">
                    </td>
                    <td class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="titleNode" role="presentation"><input class="dijitReset dijitInputField dijitArrowButtonInner" value="▼ " type="text" tabindex="-1" readonly="readonly" role="presentation"></td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  body {
    background: #eee;
    /* This is just a helper in case the element has a transparent background or white colors. */
  }

  :root {
    --fa-style: ;
    --fa-display: ;
    --fa: ;
  }

  .dijitSelect .dijitArrowButtonContainer {
    border: 1px solid #fff;
  }

  .dijitSelect .dijitArrowButton {
    background-color: #efefef;
    background-repeat: repeat-x;
    padding: 0;
  }

  .dijitButtonNode {
    transition: background-color .3s;
  }

  .dijitButtonText {
    text-align: center;
  }

  .dijitInputInner, .dijitTextBox {
    color: #000;
  }

  .dijitSelect .dijitInputField {
    padding-left: 2px;
    padding-right: 2px;
  }

  .dijitTextBox .dijitInputField {
    padding: 1px 2px;
  }

  .dijitSelect, .dijitSelect .dijitButtonContents, .dijitTextBox {
    transition-duration: .35s;
    transition-property: background-color, border;
  }

  .dijitSelect, .dijitTextBox {
    background-color: #fff;
  }

  .dijitSelect .dijitButtonContents {
    border-color: #b5bcc7;
  }

  .dijitSelect .dijitArrowButtonInner {
    background-image: url(http://localhost:4101/form/images/commonFormArrows.png);
    background-position: -35px 53%;
    background-repeat: no-repeat;
    margin: 0;
    width: 16px;
  }

  .dijitSelectLabel, .dijitValidationTextBox .dijitValidationContainer {
    padding: 1px 0;
  }

  .dijitInline, .dijitReset {
    border-style: initial;
    border-width: 0;
  }

  .dijitReset {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-optical-sizing: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-variant-emoji: inherit;
    font-variant-position: inherit;
    font-variation-settings: inherit;
    font-weight: inherit;
    line-height: normal;
    margin: 0;
  }

  .dijitInline {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
  }

  table.dijitInline {
    box-sizing: content-box;
    display: inline-table;
  }

  .dijitInputContainer {
    float: none !important;
    overflow: hidden;
    position: relative;
  }

  .dijitSelect .dijitButtonText {
    float: left;
    vertical-align: top;
  }

  table.dijitSelect {
    border-collapse: separate;
    padding: 0 !important;
  }

  .dijitValidationTextBox .dijitValidationContainer {
    display: none;
    float: right;
    text-align: center;
  }

  .dijitSelect input.dijitInputField {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .dijitButtonNode * {
    vertical-align: middle;
  }

  .dijitButtonNode .dijitArrowButtonInner, .dijitSelect .dijitArrowButtonInner {
    background-color: initial;
  }

  .dijitLeft {
    background-position: left top;
    background-repeat: no-repeat;
  }

  .dijitStretch {
    background-repeat: repeat-x;
  }

  .dijitRight {
    background-position: right top;
  }

  td.dijitButtonContents {
    display: table-cell;
  }

  .dijitButtonNode {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;
  }

  .dijitButtonNode, .dijitButtonNode *, .dijitSelect, .dijitSelect * {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .dijitTextBox {
    vertical-align: middle;
    width: 15em;
  }

  .dijitPlaceHolder {
    color: #aaa;
    font-style: italic;
    left: 0;
    position: absolute;
    top: 0;
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;
    pointer-events: none;
  }

  .dijitSelect input, .dijitTextBox input {
    float: left;
  }

  .dijitInputInner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }

  .dijitSelect input {
    direction: ltr !important;
    height: auto !important;
    text-align: left !important;
    text-indent: -2em !important;
  }

  .dijitSelect td {
    line-height: 100%;
  }

  .dijitSelect .dijitSelectLabel {
    vertical-align: baseline;
  }

  .dijitSelect .dijitButtonContents {
    padding: 0;
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;
    border-style: none solid none none;
    border-width: 1px;
    text-align: left;
  }

  .dijitSelectFixedWidth .dijitButtonContents {
    width: 100%;
  }

  div, table, td {
    border-style: initial;
    border-width: 0;
  }

  tbody, tr {
    padding: 0;
  }

  span, tbody, tr {
    border-style: initial;
    border-width: 0;
    margin: 0;
  }

  :focus {
    outline: 0;
  }

  .fa {
    color: #333;
    cursor: pointer;
  }

  .fa:hover {
    color: #e75200;
  }

  .dijitSelect .dijitInputField {
    font-size: 1em;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .GlobalSearch .dijitSelect, .GlobalSearch .dijitTextBox {
    border-radius: 4px;
    border-style: initial;
    border-width: 0;
    margin: 0;
  }

  .GlobalSearch>table {
    border-collapse: collapse;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    width: 100%;
  }

  .GlobalSearch {
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
  }

  table {
    border-color: inherit;
    font-size: 100%;
    text-indent: 0;
    width: 100%;
  }

  .dijitButtonNode {
    background-image: none;
  }

  .sr-only {
    border-style: initial;
  }

  [class*=" icon-"] {
    speak: none;
    font-family: icomoon !important;
    text-transform: none;
  }

  div, td {
    margin: 0;
    padding: 0;
  }

  .inherited-styles-for-exported-element {
    color: #333;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-size-adjust: none;
    font-weight: 400;
    line-height: 1.5;
    tab-size: 4;
  }

  .fa {
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-variant-emoji: normal;
    font-weight: var(--fa-style, 900);
    line-height: 1;
    text-rendering: auto;
  }

  .fa::before {
    content: var(--fa);
  }

  .fa-1x {
    font-size: 1em;
  }

  .gs-input input {
    background-attachment: initial !important;
    background-clip: initial !important;
    background-color: transparent !important;
    background-image: initial !important;
    background-origin: initial !important;
    background-position: initial initial !important;
    background-repeat: initial !important;
    background-size: initial !important;
    border: initial none !important;
    border-color: initial !important;
    border-image: initial initial initial initial initial !important;
    font-size: 16px !important;
    outline: 0 !important;
    padding: 2px 16px !important;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  input {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
    appearance: button;
    background-color: transparent;
    background-image: none;
  }

  input::placeholder {
    color: #9ca3af;
    opacity: 1;
  }

  :disabled {
    cursor: default;
  }

  .sr-only {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;
    border-width: 0;
  }

</style>