<script src="https://kit.fontawesome.com/63d3c7d220.js" crossorigin="anonymous"></script>
<div id="maage-homepage" class="pb-10 bg-[#f8f9fa]">
    <div id="bv-brc-home" class="bg-[#f8f9fa]">
        <div class="maage-home">
            <div class="maage-home-container pt-[15px]">

<%- include('./components/home/hero') %>


            </div>
        </div>
    </div>
</div>