.fa {
  font-display: block!important; /* Forces text to display even before font loads */
}

.ActionBar .ActionButtonWrapper .ActionButton  {
  color: #ffffff!important;
}

.ActionBar .ActionButtonWrapper .ActionButtonText  {
  color: #ffffff!important;
}

div.ActionButton.fa-2x {
  color: #ffffff!important;
  z-index: 1000!important;
  margin-top: 1px!important;
  height: 30px!important;
}


div#maage-page {
    width: 100%;
}

div#uniqName_18_0 > div:nth-child(1) > div.ActionButton.fa.icon-chevron-circle-right.fa-2x {
  height: 30px!important;
  width: 30px!important;
  display: block!important;
  color: red;
  left: 1px!important;
}

#maage-page .about-logo {
  width: 55%;
  height: auto;
}

.topMenuButton .workspace-nav-links {
    color: #344855;
    font-size: 14px;
}

.topMenuButton .workspace-nav-links:hover {
    opacity: 75%;
    text-decoration: underline;
}

div.relative.z-10.space-y-6 > div:nth-child(1) > h1.text-3xl.md/:text-4xl.lg\:text-5xl.font-bold.text-secondary-900.mb-4.font-poppins.leading-tight {
      font-weight: 600!important;
      color: #212529!important;
    }

  div.flex.items-center.mb-6 > h2.text-2xl.font-semibold.text-secondary-800.font-poppins {
    color: #212529;
  }
  div.flex.items-center > h2.text-2xl.font-semibold.text-[var(--maage-gray-800)].font-poppins {
    color: #212529;
  }
  div.flex.items-center.mb-5 > h2.text-xl.font-bold.text-gray-800.font-poppins {
    color: #212529;
    font-weight: 600;
  }
  div.flex.items-center.mb-6 > h2.text-xl.font-bold.text-gray-800.font-poppins {
    color: #212529;
    font-weight: 600;
  }
  div.flex.items-center.mb-4 > h2.text-xl.font-bold.text-gray-800.font-poppins {
    color: #212529;
    font-size: 1.5rem;
    font-weight: 600;
  }
  @media (min-width: 1024px) {
    div.relative.z-10.space-y-6 > div:nth-child(1) > h1.text-3xl.md/:text-4xl.lg\:text-5xl.font-bold.text-secondary-900.mb-4.font-poppins.leading-tight {
      color: #212529;
      font-weight: 600;
    }
  }




.gs-input input {
  border: none !important;
  outline: none !important;
  padding: 2px 16px !important;
  font-size: 16px !important;
  background: transparent !important;
}

/* table.dijitSelect {
  border-radius: 6px !important;
  overflow: hidden !important;
  transition: all 200ms ease !important;
  border: 1px solid rgba(77, 133, 162, 0.3) !important;
}

table.dijitSelect:hover {
  border-color: rgba(77, 133, 162, 0.5) !important;
  background-color: rgba(77, 133, 162, 0.05) !important;
} */

div.home-search-wrapper > table.GStable {
  height: auto;
  padding: 10px 5px;
  border-radius: 6px;
  border: 1px solid #BFD9CB;
}

div.home-search-wrapper > table.GStable {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}