<section class="pt-16 bg-gradient-to-br from-maage-primary-50 via-maage-bg to-maage-secondary-50">
    <div class="container mx-auto px-4 sm:px-6">
        <div class="flex flex-col md:flex-row gap-8 items-center">
            <div class="md:w-3/4 px-8">
                <h2 class="text-5xl font-heading font-semibold text-gray-800 mb-6 leading-tight">Midwest Alliance for<br>Applied Genomic Epidemiology</h2>
                <p class="text-base font-body sm:text-lg text-gray-600 mb-8 leading-relaxed">The Midwest Alliance for Applied Genomic Epidemiology (MAAGE) aims to develop a genomic surveillance platform to enhance infectious disease detection and tracking while providing educational resources for public health and healthcare professionals.</p>
            </div>
            <div class="md:w-1/4 flex justify-center">
                <div class="relative">
                    <div
                        class="w-64 h-64 md:w-80 md:h-80 bg-maage-secondary-500/20 rounded-full flex items-center justify-center transition-transform hover:scale-105 duration-300">
                        <div
                            class="w-48 h-48 md:w-64 md:h-64 bg-maage-primary-400/30 rounded-full flex items-center justify-center">
                            <i class="fas fa-dna text-maage-secondary-500 text-6xl md:text-6xl"></i>
                        </div>
                    </div>
                    <div
                        class="absolute top-0 -right-4 w-20 h-20 bg-maage-tertiary-500/30 rounded-full flex items-center justify-center animate-pulse">
                        <i class="fas fa-virus text-maage-tertiary-500 text-2xl"></i>
                    </div>
                    <div class="absolute bottom-4 -left-4 w-24 h-24 bg-maage-secondary-500/20 rounded-full flex items-center justify-center animate-pulse"
                        style="animation-delay: 1s;"><i class="fas fa-microscope text-maage-secondary-500 text-3xl"></i></div>
                    <div class="absolute top-1/2 -translate-y-1/2 -left-8 w-16 h-16 bg-maage-primary-400/20 rounded-full flex items-center justify-center animate-pulse"
                        style="animation-delay: 1.5s;"><i class="fas fa-vial text-maage-primary-400 text-2xl"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>