<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Related Resources | Midwest Alliance for Applied Genomic Epidemiology</title>
        <%- include('../head') %>
    </head>

    <body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
        <div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer"
            data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
            <%- include('../navbar') %>
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"
                style="padding:0px;border:0px solid #ddd;background:inherit;">
                <div id="bv-brc-page">
                    <div id="bv-brc-page-container" style="width:100%;">
                        <div class="page-content" style="width:80%; margin: 0 auto; text-align:left;">
                            <style>
                                h1 {
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 600;
                                    margin: 0;
                                    padding: 0;
                                }

                                p {
                                    font-family: 'Inter', sans-serif;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 1.5;
                                }
                            </style>
                            <div class="max-w-[75%] mx-auto">

                                <h1 class="text-2xl font-semibold font-poppins pt-4 pb-6">Related Resources</h1>

                                <!-- 1. State & Local Public Health -->
                                <h2 class="text-xl font-semibold font-poppins pt-4 pb-2">1. State and Local Public Health (IDPH)</h2>
                                <ul class="list-none space-y-2 pt-4 pb-2">
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://dph.illinois.gov" target="_blank" rel="noopener">Illinois Department of Public Health (IDPH)</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://dph.illinois.gov/covid19/data/wastewater-surveillance.html" target="_blank" rel="noopener">Illinois Wastewater Surveillance System (IWSS)</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://dph.illinois.gov/data-statistics.html" target="_blank" rel="noopener">IDPH Data &amp; Statistics Dashboards</a>
                                    </li>
                                </ul>

                                <!-- 2. National Public Health -->
                                <h2 class="text-xl font-semibold font-poppins pt-4 pb-2">2. National Public Health (CDC)</h2>
                                <ul class="list-none space-y-2 pt-4 pb-2">
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://covid.cdc.gov/covid-data-tracker" target="_blank" rel="noopener">CDC COVID-19 Data Tracker</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.cdc.gov/flu/weekly/fluviewinteractive.htm" target="_blank" rel="noopener">CDC FluView</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.cdc.gov/nwss" target="_blank" rel="noopener">National Wastewater Surveillance System (NWSS)</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.cdc.gov/coronavirus/2019-ncov/variants/genomic-surveillance.html" target="_blank" rel="noopener">CDC Genomic Surveillance</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.cdc.gov/drugresistance/solutions-initiative/ar-lab-networks.html" target="_blank" rel="noopener">CDC AR Lab Network</a>
                                    </li>
                                </ul>

                                <!-- 3. Data Repositories -->
                                <h2 class="text-xl font-semibold font-poppins pt-4 pb-2">3. Data Repositories</h2>
                                <ul class="list-none space-y-2 pt-4 pb-2">
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.ncbi.nlm.nih.gov" target="_blank" rel="noopener">NCBI (GenBank, SRA)</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.ncbi.nlm.nih.gov/labs/virus" target="_blank" rel="noopener">NCBI Virus</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.ebi.ac.uk/ena" target="_blank" rel="noopener">EMBL-EBI (ENA)</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.gisaid.org" target="_blank" rel="noopener">GISAID</a>
                                    </li>
                                </ul>

                                <!-- 4. Real-Time Surveillance & Visualization -->
                                <h2 class="text-xl font-semibold font-poppins pt-4 pb-2">4. Real-Time Surveillance &amp; Visualization</h2>
                                <ul class="list-none space-y-2 pt-4 pb-2">
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://nextstrain.org" target="_blank" rel="noopener">Nextstrain</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://outbreak.info" target="_blank" rel="noopener">outbreak.info</a>
                                    </li>
                                </ul>

                                <!-- 5. Bioinformatics & Analysis Platforms -->
                                <h2 class="text-xl font-semibold font-poppins pt-4 pb-2">5. Bioinformatics &amp; Analysis Platforms</h2>
                                <ul class="list-none space-y-2 pt-4 pb-2">
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.bv-brc.org" target="_blank" rel="noopener">BV-BRC</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://usegalaxy.org" target="_blank" rel="noopener">Galaxy Project</a>
                                    </li>
                                </ul>

                                <!-- 6. Functional & AMR Databases -->
                                <h2 class="text-xl font-semibold font-poppins pt-4 pb-2">6. Functional &amp; AMR Databases</h2>
                                <ul class="list-none space-y-2 pt-4 pb-2">
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://card.mcmaster.ca" target="_blank" rel="noopener">CARD (Comprehensive Antibiotic Resistance Database)</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="https://www.ncbi.nlm.nih.gov/pathogens/antimicrobial-resistance/AMRFinder" target="_blank" rel="noopener">NCBI AMRFinderPlus</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="http://www.mgc.ac.cn/VFs" target="_blank" rel="noopener">VFDB (Virulence Factor Database)</a>
                                    </li>
                                    <li>
                                        <a class="hover:underline text-maage-secondary-600" href="http://bacmet.biomedicine.gu.se" target="_blank" rel="noopener">BacMet</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <%- include('../footer') %>
            </div>
        </div>

        <%- include('../javascript') %>
    </body>

</html>