<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Searches | Midwest Alliance for Applied Genomic Epidemiology</title>
    <%- include('../head') %>
  </head>

  <body class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
    <div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer"
      data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
      <%- include('../navbar') %>
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"
        style="padding:0px;border:0px solid #ddd;background:inherit;">
        <div id="bv-brc-page">
          <div id="bv-brc-page-container" style="width:100%;">
            <div class="page-content" style="width:80%; margin: 0 auto; text-align:left;">
              <style>
                h1 {
                  font-family: 'Poppins', sans-serif;
                  font-weight: 600;
                  margin: 0;
                  padding: 0;
                }

                p {
                  font-family: 'Inter', sans-serif;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 1.5;
                }

                h3 {
                  margin: 0;
                  padding: 0;
                  margin-bottom: 4px;
                }

                li {
                  margin-bottom: 2px;
                }
              </style>
              <div class="w-[95%] md:w-[85%] lg:w-[75%] mx-auto">
                <h1 id="privacy-policy" class="text-2xl font-semibold font-poppins pt-4 pb-6">
                  Searches</h1>
                <div class="searches">
                  <h3><a href="/searches/TaxaSearch">Taxa</a></h3>
                  <p>
                    Search for taxa using taxon id or name and jump to taxon level pages to access relevant data and
                    analysis tools.
                  </p>
                  <br>
                  <h3><a href="/searches/GenomeSearch">Genomes</a></h3>
                  <p>
                    Search for microbial or viral genomes (or genome segments for segmented viruses) of interest using
                    generic keywords, genome id/name, pathogen group, various metadata attributes, or database
                    identifiers.
                  </p>
                  <br>
                  <h3><a href="/searches/AMRPhenotypeSearch">AMR Phenotypes</a></h3>
                  <p>
                    Search for antimicrobial resistance (AMR) phenotype data associated with microbial genomes of interest
                    using antibiotic, resistant phenotype, evidence, and various genome metadata attributes.
                  </p>
                  <br>
                  <h3><a href="/searches/GenomicFeatureSearch">Features</a></h3>
                  <p>
                    Search for proteins of interest (resulting from CDS and mature peptide features) using generic
                    keywords, pathogen group, various genome metadata attributes, protein product, or database
                    identifiers.
                  </p>
                  <br>
                  <h3><a href="/searches/SpecialtyGeneSearch">Specialty Genes</a></h3>
                  <p>
                    Search for specialty genes annotated in microbial genomes, such as antimicrobial resistance genes,
                    virulence factors, essential genes, drug targets, and human homologs. Search using generic keywords,
                    pathogen group, property, source database, or protein product.
                  </p>

                </div>

              </div>

            </div>
          </div>

          <%- include('../footer') %>

        </div>
      </div>

      <%- include('../javascript') %>
  </body>

</html>