<!DOCTYPE html>
<html lang="en">
  <head>
    <title>demo_page | MAAGE</title>
    <%- include('../head') %>
  </head>
      <body class="claro patric bg-maage-bg <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>">
    <div id="ApplicationContainer" data-dojo-type="dijit/layout/BorderContainer" class="layoutContainer" data-dojo-props="id:'ApplicationContainer',gutters:false,liveSplitters:false">
      <%- include('../navbar') %>
      <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding:0px;border:0px solid #ddd;background:inherit;">
        <div id="bv-brc-page">
          <div id="bv-brc-page-container" style="width:100%;">
            <div class="page-content" style="width:90%; margin: 0 auto; text-align:left;">
              <div class="max-w-full mx-auto">
                <div class="flex justify-between items-center mb-4 mt-16">





                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../footer') %>
    </div>
    <%- include('../javascript') %>
  </body>
</html>